#chat-header {
	margin: 0;
}

.container {
	height: 100%;
}

body {
  	background-color: #333;
  	color: #eee;
	font-family: monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

a {
	color: #aaf;
}

a:hover {
	color: #afa;
	cursor: pointer;
}

#chat {
	position: absolute;
	display: flex;
	bottom: 20px;
	left: 20px;
	right: 20px;
	top: 20px;
}

#chat #left {
	width: 300px;
	background-color: #061938;
}

#chat #right {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-grow: 1;
}

#chat #message-area {
	position: relative;
	z-index: 3;
	border: 1px solid black;
	flex-grow: 1;
	background: #333;
}

#chat #newmessage-area {
	display: flex;
	height: 3em;
}

#chat #newmessage-area textarea {
	flex-grow: 10;
	margin: 3px;
	background: #aaa;
}

#chat #newmessage-area #send-button {
	flex-grow: 1;
	margin: 3px;
}



#channel-list {
	list-style-type: none;
}

.channel {
	color: #aaf;
	font-size: 16px;
}

#tab-area {
	z-index: 2;
	position: relative;
	min-height: 20px;
	margin-top: 5px;
	margin-left: 10px;
}

.channel-tab-container {

	display: inline-block;
}

.channel-tab {
	position: relative;
	z-index: 10;
	display: inline-block;
	background: rgb(255, 255, 255, 0);
	width: 10em;
	margin: 0 -7px;
	padding: 0.5em 1.0em 0.5em 0.5em;
}

/* Tab magic */
.channel-tab::before {
	content: '';
	position: absolute;
	z-index: -2;
	top: -0.3em; right: 0; bottom: -0.3em; left: 0;
	border-bottom: none;
	border: 1px solid black;
	background: #333;
	box-shadow: 2px 0px 1px black;
	transform: perspective(5px) rotateX(2deg);
	transform-origin: bottom left;
}

.channel-tab.active::before {
	z-index: -1;
	background: #444;
}

.channel-tab.active {
	z-index: 11;
}
