<html>
<head>
<title>Chat application</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet">
<link href="/res/css/main.css" rel="stylesheet">
<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
</style>
</head>

<body ng-app="hello">
<div class="container">
<div id="chat" ng-controller="chat" ng-cloak class="ng-cloak">
	<div id="left">
		<div id="left-invis"></div>
		<ul id="channel-list">
			<li ng-repeat="channel in channels()">
			<a class="channel" ng-click="subscribeToChannel($event, channel.name)">&#35[[ channel.name ]]</a>
			</li>
		</ul>
	</div>
	<div id="right">
		<div id="tab-area">
			<div class="channel-tab-container" ng-repeat="channel in subscribedChannels()">
			<a ng-if="channel.name==activeChannel" class="channel-tab active" ng-click="showChannel($event, channel.name)">
			&#35[[ channel.name ]]
			</a>
			<a ng-if="channel.name!=activeChannel" class="channel-tab" ng-click="showChannel($event, channel.name)">
			&#35[[ channel.name ]]
			</a>
			</div>
		</div>
		<div id="message-area">
			<div ng-hide="channel.name!=activeChannel" ng-repeat="channel in subscribedChannels()" class="channel-messages">
			<div ng-repeat="chatMessage in channel.messages">
      <span ng-if="chatMessage.type=='error'" class="error-message">
        ERROR: [[ chatMessage.text ]]
      </span>
      <span ng-if="chatMessage.type=='text'" class="text-message">
        &lt;[[ chatMessage.from ]]&gt;: [[ chatMessage.text ]]
      </span>
			</div>
			</div>
		</div>
		<div id="newmessage-area">
			<textarea id="newmessage-textarea" rows="2" ng-model="messageToSend.text" ng-keyup="keysend($event)"></textarea>
			<input id="send-button" type="button" value="Send" ng-click="send()"></input>
		</div>
	</div>
</div>
</div>
<script src="/res/js/bootstrap.js" type="text/javascript"></script>
</body>
</html>
